
 html{-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
 body{ color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif;}
 * {}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/} em,i{ font-style:normal;}

.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}
.clear{ clear:both;}/* 清除浮动*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* 高度自适应 */ 
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/ -khtml-opacity: 0.5; opacity: 0.5; } 
.break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}

.tal{ text-align:left} .tar{ text-align:right;}

/*文字两侧对齐*/
.justify {
	text-align:justify;
	text-justify:distribute-all-lines;/*ie6-8*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}

.toe{
	/*超出省略号*/
	 word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
	.justify:after{
		content:".";
		display: inline-block;
		width:100%;
		overflow:hidden;
		height:0;
	}
}

/* 兼容IE6的定位属性fixed，固定不动样式 */
.fixed{
	position:fixed; 
	clip:rect(0 100% 100% 0);
	_position:absolute;
	
	/* 底部 */
	bottom:0px;
	left:0px;
	_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
	
}
/* 解决固定层在IE6下闪的问题 */
*html{
	background-image:url(about:blank);
	background-attachment:fixed;
}


/*png图片ie6下透明滤镜实现写法*/
.pngimg{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/x.png');}


em{ font-style:italic !important;} 
strike{ text-decoration:line-through !important;} 
strong{ font-weight:bold !important;} 
u{ text-decoration:underline !important;}


.ff8600,ff86aa a{ color:#ff8600;}


.font14px{ font-size:14px;}
.font9pt{ font-size:9pt;}

  a{ color:#5d5d5e; transition: all 0.3s ease-in-out 0s;}
  a:hover{ color:#3e6ed4;}
 
body{font-family: "微软雅黑",sans-serif;}

.css3{
	/*transition: all 0.3s ease-in-out 0s;*/
	
	-webkit-transform:translate3d(0, -20px, 0);
	-ms-transform:translate3d(0, -20px, 0);
	transform:translate3d(0, -20px, 0);
	
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:800ms;
	transition-delay:800ms
}
.css3.animated{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
@media screen and (max-width: 650px) {    
  
  }
  
  @media screen and (max-width: 480px) {   
	 
  }

.layout{
	/*width:1366px; margin:0 auto; overflow:hidden; position:relative;*/
}
.header{
	position:absolute; left:0; top:0; right:0; z-index:9;
}
.header-wp{
	width:1366px; margin:0 auto; position:relative;
}
.header .logo{
	position:absolute; left:15px; top:5px;
}
.header .nav{
	position:absolute; /*right:75px;*/ top:20px; right:250px;
}
.header .nav ul{
	height:auto; overflow:hidden;
}
.header .nav li{
	float:left; display:inline; font-size:16px; margin-left:30px; line-height:1; 
}
.header .nav li a{
	color:#fff;
}
.header .nav li span{
	display:block; width:100%; height:3px; background:#0760b0; margin-top:10px; display:none;
}
.header .nav li.selected span,
.header .nav li a:hover span{
	display:block; 
}
.header .nav li a:hover{
	text-decoration:none;
}
.header .sear{
	position:absolute; right:20px; top:13px; border:#fff solid 1px; padding:3px; padding-left:5px; 
	transition: all 0.8s ease-in-out 0s; border-color:rgba(255,255,255,0);
}
.header .sear-selected{
	border-color:rgba(255,255,255,1);
}
.header .sear .text{
	border:none; background:none; color:#fff; /*transition: all 0.3s ease-in-out 0s;*/ width:0; float:left; display:inline; height:22px; line-height:22px;
}
.header .sear:hover .text{
	/*width:auto;*/
}

.home-slide{
	position:relative; overflow:hidden;
}
.home-slide li{
	position:relative;
}
.home-slide li .mask{
	background:url(../imgs/img18.png) repeat; position:absolute; left:0; top:0; right:0; bottom:0;
}
.home-slide li .text{
	position:absolute; left:0; top:0; width:1000px; left:50%; top:40%; margin-left:-500px; z-index:2; 
}
.home-slide li .text h2{
	font-size:72px; color:#fff; font-weight:bold; line-height:1;
	
	-webkit-transform:translate3d(0, 40px, 0);
	-ms-transform:translate3d(0, 40px, 0);
	transform:translate3d(0, 40px, 0);
	
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:0ms;
	transition-delay:0ms;
	
	opacity:0;
}
.home-slide li.slide__item--current .text h2{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	
	opacity:1;
}
.home-slide li .text h4{
	font-size:24px; color:#fff; margin-top:20px;
	
	-webkit-transform:translate3d(80px, 0, 0);
	-ms-transform:translate3d(80px, 0, 0);
	transform:translate3d(80px, 0, 0);
	
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:200ms;
	transition-delay:200ms;
	
	opacity:0;
}
.home-slide li.slide__item--current .text h4{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	
	opacity:1;
}

.home-slide li .text .btn{
	margin-top:20px;
	
	-webkit-transform:translate3d(0, 40px, 0);
	-ms-transform:translate3d(0, 40px, 0);
	transform:translate3d(0, 40px, 0);
	
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:500ms;
	transition-delay:500ms;
	
	opacity:0;
}
.home-slide li.slide__item--current .text .btn{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	
	opacity:1;
}
.home-slide li .text .btn a{
	width:119px; height:43px; border:#fff solid 2px; color:#fff; font-size:18px; display:inline-block; text-align:center; line-height:43px;
}
.home-slide li .text .btn a:hover{
	background:#fff; color:#333; text-decoration:none;
}
.home-tip{
	background:#0760b0; color:#fff; padding:60px 20px 30px 20px; text-align:center;
}
.home-tip h2{
	font-size:24px; font-weight:bold; line-height:2;
}
.home-tip h4{
	font-size:16px; line-height:2;
}
.home-feature{
	background:#f5f5f5; padding:50px 0;
}
.home-feature .head{
	text-align:center;
}
.home-feature .head h2{
	font-size:30px; font-weight:bold;
}
.home-feature .body{
	width:1000px; margin:0 auto;
}
.home-feature .body ul{
	width:110%; height:auto; overflow:hidden; padding-top:50px;
}
.home-feature .body li{
	width:280px; margin-right:80px; float:left; display:inline; text-align:center;
}
.home-feature li h2{
	margin-top:20px; font-size:18px; line-height:1;
}
.home-feature li h4{
	margin-top:20px; font-size:14px; line-height:1;
}
.home-feature li .btn{
	margin-top:25px;
}
.home-feature li .btn a{
	width:197px; height:40px; background:#0760b0; color:#fff; display:inline-block; line-height:40px; text-align:center; font-size:14px; position:relative;
}
.home-feature .btn a span{
	transition: all 0.3s ease-in-out 0s;
	position:relative;
	left:0;
}
.home-feature .btn a i{
	transition: all 0.3s ease-in-out 0s; opacity:0;
	position:absolute;
	right:70px;
	top:50%;
	margin-top:-18px; font-size:20px;
	display: none;
}
.home-feature .btn a:hover{
	border-color:rgba(255,255,255,0); text-decoration:none; opacity:0.75;
}
.home-feature .btn a:hover span{
	left:-10px;
}
.home-feature .btn a:hover i{
	opacity:1; right:50px;display: block;
}
.home-imgs{
	 padding-top:40px; /*width:1366px; margin:0 auto;*/
}
.home-imgs .head h2{
	font-size:30px; text-align:center; font-weight:bold;
}
.home-imgs .body{
	margin-top:20px;
}
.home-imgs .body ul{
	height:auto; overflow:hidden;
}
.home-imgs .body li{
	width:25%; float:left; display:inline; position:relative;
}
.home-imgs .body li .img{
	overflow:hidden;
}
.home-imgs .body li .img img{
	width:100%; display:block;
	
	-webkit-transition:-webkit-transform .3s linear;
	-moz-transition:-moz-transform .3s linear;
	-o-transition:-o-transform .3s linear;
	transition:transform .3s linear
}
.home-imgs .body li a:hover .img img{
	 transition:All .7s ease;
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-ms-transform:scale(1.3);
	-o-transform:scale(1.3)
}
.home-imgs .body li .tip{
	position:absolute; right:20px; top:20px; left:20px; bottom:20px; border:#3888bb solid 2px; display:none;
}
.home-imgs .body li.selected .tip,
.home-imgs .body li a:hover .tip{
	display:block;
}
.home-imgs .body li .tip h2{
	font-size:22px; color:#fff; position:absolute; left:20px; bottom:10px;
}
.home-imgs .body li .tip i{
	position:absolute; background:url(../imgs/img9.png) no-repeat; width:26px; height:26px; display:block; top:5px; right:5px;
}

.home-contact{
	background:#0760b0; color:#fff; text-align:center; padding:50px 0 20px 0; font-size:18px; line-height:2;
}
.home-contact .btn{
	margin-top:20px;
}
.home-contact .btn a{
	width:141px; height:39px; border:#fff solid 2px; line-height:39px; text-align:center; display:inline-block; color:#fff; font-size:16px; position:relative;
}
.home-contact .btn a span{
	transition: all 0.3s ease-in-out 0s;
	position:relative;
	left:0;
	
}
.home-contact .btn a i{
	transition: all 0.3s ease-in-out 0s; opacity:0;
	position:absolute;
	right:30px;
	top:50%;
	margin-top:-18px; font-size:20px;
	display: none;
}
.home-contact .btn a:hover{
	border-color:rgba(255,255,255,0); text-decoration:none;
}
.home-contact .btn a:hover span{
	left:-10px;
}
.home-contact .btn a:hover i{
	opacity:1; right:20px;display: block;
}
.home-news{
	padding:60px 0 0 0; background:#eaeaea;
}
.home-news .head h2{
	font-size:30px; text-align:center; font-weight:bold;
}
.home-news .body{
	width:1000px; margin:0 auto; margin-top:30px; position:relative; overflow:hidden; padding-bottom:40px;
}
.home-news .body li{
	font-size:14px; height:auto; overflow:hidden;
}
.home-news .body li .img{
	width:124px; height:124px; border-radius:124px; overflow:hidden; float:left; display:inline; margin-left:10px;
}
.home-news .body li .text{
	width:810px; float:left; display:inline; margin-left:40px;
}
.home-news .body li h2{
	font-size:18px; font-weight:bold; line-height:1.2;
}
.home-news .body li h4{
	font-size:14px; margin-top:10px; line-height:1.2;
}
.home-news .body li p{
	margin-top:10px;
}
.home-news .btn {
	margin-top:10px;
}
.home-news .btn a{
	width:113px; height:38px; display:inline-block; border:#3b3b3b solid 1px; border-radius:10px; font-size:14px; color:#3b3b3b; line-height:38px; text-align:center;
}
.home-news .btn a:hover{
	background:#3b3b3b; color:#fff;
}
.home-news .slider-arrows{
	display:none;
}
.home-news .slider-nav{
	bottom:10px;
}


.footer{
	background:#272727; color:#d0d0d0; padding-top:30px; font-size:14px;
}
.footer a{
	color:#a2a2a2;
}
.footer .f-main{
	height:auto; overflow:hidden; padding-bottom:50px;
}
.footer .f-main dl{
	float:left; display:inline; margin-right:40px;
}
.footer .f-main dt{
	border-bottom:#414141 solid 2px; padding-bottom:15px; line-height:1; font-size:16px; margin-bottom:15px;
}
.footer .f-main dd{
	margin-top:15px;
}
.footer .f-main .imgs{
	float:right; display:inline;
}
.footer .f-main .link ul{
	text-align:right;
}
.footer .f-main .link li{
	display:inline; margin-left:5px; padding:5px;
}
.footer .f-main .link li img{
	width:30px;
}
.footer .f-main .qrcode{
	margin-top:20px;
}
.footer .f-main .qrcode ul{
	height:auto; overflow:hidden;
}
.footer .f-main .qrcode li{
	width:125px; float:left; display:inline; text-align:center; margin-left:30px;
}
.footer .f-main .qrcode li h2{
	line-height:1; margin-top:10px;
}
.footer .f-sub{
	background:#1d1d1d; height:auto; overflow:hidden; padding:20px 0;
}
.footer .f-sub ul{
	float:left; display:inline;
}
.footer .f-sub li{
	display:inline; margin-right:20px;
}
.footer .f-sub .text{
	float:right; display:inline; font-size:12px; font-family:Arial, Helvetica, sans-serif;
}
.wrapper{
	width:1000px; margin:0 auto;
}












.img-scale {
    transform: scale(0);
    transition: all .5s cubic-bezier(0.25, 0.1, 0.25, 1.5) 0s;
}

.img-scale.load-finished {
    transform: scale(1);
}











/*财务报告*/
.banner{
	height:155px; text-align:center; padding-top:200px; background-size: cover !important;
} 
.banner1{
	background:url(../imgs/img9.jpg) no-repeat center top #191b20; background-size: cover;
}
.banner h2{
	font-size:36px; color:#fff; font-weight:bold;
}
.banner h3{
	font-size:30px; color:#fff;
}
.nav_1{
	height:67px; line-height:67px; background:#0760b0; text-align:center;
}
.nav_1 li{
	display:inline-block; font-size:18px; color:#fff; margin:0 12px; position:relative; height:67px;
}
.nav_1 li a{
	color:#fff;
}
.nav_1 li span{
	width:15px; height:8px; display:block; background:url(../imgs/img19.png); position:absolute; bottom:0; left:50%; margin-left:-7.5px; margin-bottom:-8px; display:none;
}
.nav_1 li.selected span{
	display:block;
}
.main{
	background:#f0f0f0;height:auto; overflow:hidden;
}
.content{
	padding:80px 0 30px 0; height:auto; overflow:hidden;
}
.content .list ul{
	width:105%; height:auto; overflow:hidden;
}
.content .list li{
	width:480px; height:78px; float:left; margin:0 40px 40px 0;
}
.content .list li .left{
	width:92px; text-align:center; background:#c5c5c5; color:#fff; height:78px;
}
.content .list li .left span{
	display:block; width:92px; font-size:36px; font-weight:bold; margin-top:5px;
}
.content .list li .right{
	width:366px; line-height:78px; padding-left:22px; background:#fff; color:#3b3b3b; font-size:14px;
}
.content .list li.selected .left{
	background:#0760b0;
}
.content .list li:hover .right{
	color:#f98407; font-weight:bold;
}
.content .list li:hover .left{
	background:#0760b0;
}
.content .list li.selected .right{
	color:#f98407; font-weight:bold;
}
.pages{
	float:right;
}
.pages li{
	display:inline-block; width:41px; height:43px; line-height:61px; margin-left:10px; text-align:center; font-size:18px; 
}
.pages li a{
	color:#464646; padding:10px 15px;border-radius:2px;
}
.pages li.selected a{
	color:#fff;background:#0760b0;
}
.pages li:hover a{
	color:#fff;background:#0760b0;
}
.pages .prev,
.pages .next{
	width:112px; height:61px; background:#c9c9c9; color:#353535;border-radius:2px;
}
.pages .prev a,
.pages .next a{
	width:112px; height:61px; display:block; padding:0;
}

/*产品与应用2*/
.banner2{
	background:url(../imgs/img10.jpg) top center no-repeat #504f4f;	
}
.main .lists ul{
	width:105%; height:auto; overflow:hidden;
}
.main .lists li{
	float:left; width:302px; border:1px solid #d5d5d5; height:370px; overflow:hidden; background:#fff; margin:0 44px 85px 0;
}
.main .lists li .img{
	width:302px; height:240px; border-bottom:1px solid #d5d5d5; position:relative;
}
.main .lists li .img .tip{
	position:absolute; top:0; left:0; width:302px; height:240px; background:url(../imgs/img20.png); display:none;
}
.main .lists li.selected .img .tip{
	display:block;
}
.main .lists li:hover .img .tip{
	display:block;
}
.main .lists li .text{
	padding:20px;
}
.main .lists li .text h2{
	font-weight:bold; color:#0760b0; font-size:18px;
}
.main .lists li .text p{
	margin-top:10px; line-height:20px; color:#8b8b8b;
}

/*产品与应用内页*/
.banner3{
	background:url(../imgs/img19.jpg) top center no-repeat #504f4f;	
}
.cpyy{
	margin-top:50px; height:auto; overflow:hidden; padding-bottom:200px;
}
.cpyy .hd{
	 border-bottom:1px solid #c9c9c9; height:auto; overflow:hidden;
}
.cpyy .hd .crum{
	float:right; padding-right:5px; height:40px; line-height:40px; font-size:14px; color:#393939;
}
.cpyy .crum a{
	color:#393939;
}
.cpyy .bd .img{
	margin:0 auto; width:1000px; height:540px;
}
.cpyy .bd .tab{
	width:1000px; height:58px; line-height:58px; text-align:center;
}
.cpyy .bd .tab ul{
	width:1004px; height:58px;
}
.cpyy .bd .tab li{
	width:247px; height:58px; display:block; float:left; margin-right:4px; font-size:18px; font-weight:bold; color:#fff; background:#bcbcbc; cursor:pointer;
}
.cpyy .bd .tab li.selected{
	background:url(../imgs/img17.jpg) center bottom no-repeat #0760b0;
}
.cpyy .bd .body{
	margin-top:40px;
}
.cpyy .bd .body p{
	font-size:16px; font-weight:bold; color:#393939; text-indent:2em; line-height:30px;
}
.cpyy .bd .body ul{
	width:1050px; height:auto; overflow:hidden; margin-top:30px;
}
.cpyy .bd .body ul li{
	float:left; background:url(../imgs/img21.png) left center no-repeat; font-size:14px; color:#787878; padding-left:57px; height:27px; line-height:27px; width:418px; margin-right:50px; margin-bottom:25px;
}

/*订单查询*/
.banner4{
	background:url(../imgs/img18.jpg) top center no-repeat #504f4f;	
}
.cpyy .hd .hydl{
	height:40px; line-height:40px; font-size:18px; color:#0760b0; font-weight:bold; float:left; margin-left:5px;
}
.login{
	width:490px; height:auto; overflow:hidden; margin:75px auto;
}
.login li{
	height:39px; margin-bottom:20px;
}
.login label{
	width:95px; height:39px; line-height:39px; display:block; float:left; font-size:18px; font-weight:bold; color:#0760b0;
}
.login .text{
	width:380px; height:37px; border:1px solid #0760b0; background:none; float:left; padding-left:13px;
}
.login .btn{
	width:116px; height:37px; background:#0760b0; border:none; font-size:18px; color:#fff;font-weight:bold; font-family:"微软雅黑"; cursor:pointer; margin:20px 0 0 105px;
}

/*联系我们*/
.lxwm .hd{
	text-align:center; padding-top:130px; background:url(../imgs/img22.png) center 55px no-repeat; font-size:24px; color:#242427;
}
.lxwm .bd{
	margin-top:50px; height:125px;
}
.lxwm .bd dl{
	float:left; margin-right:50px; width:300px; 
}
.lxwm .bd dd{
	height:auto; overflow:hidden;line-height:31px; height:62px; font-size:14px; color:#242427;
}
.lxwm .bd dd .left{
	font-size:18px; width:90px;
}
.lxwm .bd dd .right{
	width:210px; color:#5d5d5d; 
}
.lxwm .bd .dl2{
	text-align:center;
}
.lxwm .bd dd span{
	color:#0760b0; border-bottom:1px solid #0760b0; padding-bottom:3px;
}
.lxwm .bd dd span a{
	color:#0760b0;
}
.lxwm .bd .dl3{
	margin-right:0;position: relative;
}
.lxwm .bd .dl3 dd{
	padding-left:48px; height:34px; margin-bottom:25px;
}
.lxwm .bd .dl3 .sub{
	position: absolute; top: 0;right: 0; margin-right: -25px; margin-top: -15px;width: 125px;height: 125px;display: none;
}
.lxwm .bd .dl3:hover .sub{
	display: block;
}
.lxwm .bd .dl3 .sub img{
	display: block;border: none;
}
.lxwm .bd .dl3 .wx{
	background:url(../imgs/img23.png) left center no-repeat;
}
.lxwm .bd .dl3 .xl{
	background:url(../imgs/img24.png) left center no-repeat;
}
.lxwm .bd .dl3 span{
	line-height:34px;
}
.lxwm .ft{
	background:url(../imgs/img25.png) center top no-repeat; text-align:center; padding-top:60px;; color:#242427; font-size:24px; margin-top:40px;
}
.td{
	width:1366px; height:535px; margin:65px auto;
}

/*新闻媒体*/
.banner5{
	background:url(../imgs/img25.jpg) top center no-repeat #504f4f;	
}
.xwmt{
	padding:60px 0 30px 0; height:auto; overflow:hidden;
}
.gsdt li{
	height:auto; overflow:hidden; margin-bottom:65px;
}
.gsdt li .date{
	float:left; width:37px; height:56px; background:#555; color:#fff; text-align:center;
}
.gsdt li .date h2{
	font-size:18px; font-weight:bold; margin-top:7px;
}
.gsdt li .img{
	float:left; width:132px; height:117px;
}
.gsdt li .text{
	float:left; margin-left:40px; width:791px;
}
.gsdt li .text h2{
	font-size:18px; font-weight:bold; color:#555;
}
.gsdt li .text p{
	color:#151515; line-height:19px; margin-top:10px;
}
.gsdt li .text a{
	width:73px; height:25px; border-radius:3px; display:block; background:#555; color:#fff; line-height:25px; text-align:center; margin-top:15px;
}
.gsdt li.selected .date{
	background:#0760b0;
}
.gsdt li.selected .text h2{
	color:#0760b0;
}
.gsdt li.selected .text a{
	background:#0760b0;
}
.gsdt li:hover .date{
	background:#0760b0;
}
.gsdt li:hover .text h2{
	color:#0760b0;
}
.gsdt li:hover .text a{
	background:#0760b0;
}


/*新闻媒体内页*/
.xwmt .hd{
	 border-bottom:1px solid #c9c9c9; height:auto; overflow:hidden;
}
.xwmt .hd .crum{
	float:right; padding-right:5px; height:40px; line-height:40px; font-size:14px; color:#393939;
}
.xwmt .crum a{
	color:#393939;
}
.xwmt .bd h2{
	text-align:center; font-size:18px; font-weight:bold; color:#393939; margin-top:30px;
}
.xwmt .bd h3{
	text-align:center;font-size:14px;color:#8c8c8c; margin-top:20px;
}
.xwmt .bd p{
	font-size:14px;color:#5e5e5e;line-height:31px; text-indent:2em; margin:0 35px; margin-top:45px;
}
.xwmt .bd .img{
	width:517px; height:347px; margin:50px auto;
}
.xwmt .bd .fenx{
	text-align:right; border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9; padding:15px 10px; color:#626262;height: auto;overflow: hidden;
}
.xwmt .bd .fenx .fenxx{
	float: right;
}
.xwmt .bd .fenx span{
	display:block;width: 40px;height: 20px;line-height: 20px;float: left;
}
.xwmt .bd .fenx a{
	display:block; width:20px; height:20px; margin-left:8px;float: left;
}

/*员工风采*/
.banner6{
	background:url(../imgs/img33.jpg) top center no-repeat #504f4f;	
}
.rcfz{
	padding:60px 0 30px 0; height:auto; overflow:hidden;
}
.rcfz .ygfc{
	padding:0 56px; margin-bottom:30px;
}
.rcfz .ygfc ul{
	height:auto; overflow:hidden; width:940px;
}
.rcfz .ygfc li{
	text-align:center; float:left; width:182px; margin:0 53px 30px 0;
}
.rcfz .ygfc li .img{
	width:182px; height:182px; border-radius:91px; position:relative;
}
.rcfz .ygfc li .img .sub{
	background:url(../imgs/img35.png) repeat; position:absolute; left:0; right:0; top:0; bottom:0; display:none;
}
.rcfz .ygfc li.selected .img .sub{
	display:block;
}
.rcfz .ygfc li:hover .img .sub{
	display:block;
}
.rcfz .ygfc li h2{
	font-size:16px; color:#434343; font-weight:bold; margin-top:10px;
}
.rcfz .ygfc li h3{
	font-size:14px; color:#909090;margin-top:5px;
}


/*招贤纳士*/
.zxns .text h3{
	color:#262626; line-height:33px; text-align:center;
}
.zxns .text h2{
	color:#262626;text-align:center;font-size:36px; margin-bottom:20px;
}
.zxns table{
	text-align:center; margin:40px 0;
}
.zxns table th{
	text-align:center; font-size:14px; color:#0760b0; font-weight:bold;
}
.zxns table td{
	font-size:14px; color:#676767
}
.zxns .table1{
	background:#fff; height:43px;
}
.zxns .table2{
	height:54px;
}
.zxns table td a{
	width:85px; height:31px; display:inline-block; line-height:31px;border-radius:3px; font-size:12px; font-weight:bold; color:#fff; background:#0760b0;
}


/*招贤纳士*/
.zxns .hd{
	 border-bottom:1px solid #c9c9c9; height:auto; overflow:hidden;
}
.zxns .hd .crum{
	float:right; padding-right:5px; height:40px; line-height:40px; font-size:14px; color:#393939;
}
.zxns .crum a{
	color:#393939;
}
.zxns .bd{
	padding:70px 40px; margin-top:60px; border:1px solid #0760b0;
}
.zxns .bd h2{
	font-size:36px; font-weight:bold; color:#616162; line-height:56px;
}
.zxns .bd h3{
	font-size:14px;color:#0760b0; line-height:40px;
}
.zxns .bd h4{
	font-size:14px;color:#646464; line-height:35px;
}
.zxns .ft{
	margin:50px 0;
}
.zxns .ft a{
	margin:0 auto; display:block; color:#fff; text-align:center; width:151px; height:55px; line-height:55px; border-radius:3px; background:#0760b0; font-size:18px; font-weight:bold;
}


/*走进格拉斯*/
.banner7{
	background:url(../imgs/img34.jpg) top center no-repeat #504f4f;	
}
.zjgls{
	margin-top:60px; padding-bottom:30px; height:auto; overflow:hidden;
}
.zjgls .text{
	float:left; width:605px;
}
.zjgls .text h2{
	padding-left:10px; font-size:24px; font-weight:bold; color:#3e3e3e; margin-bottom:25px;
}
.zjgls .text p{
	font-size:14px; color:#545454; line-height:26px; text-indent:2em;
}
.zjgls .img{
	width:362px; height:279px; float:right; margin-top:23px;
}
.main1{
	background:#fff;
}
.gsjj ul{
	height:auto; overflow:hidden;
}
.gsjj li{
	width:258px; margin:55px 121px; text-align:center; float:left;
}
.gsjj li h2{
	font-size:18px; font-weight:bold; color:#151515; margin-bottom:30px;
}
.gsjj li h3{
	font-size:14px;color:#848484;margin-bottom:30px;
}

/*2015.7.28*/
.header .nav2{
	/*right:75px;*/
}
